{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.collection != "publications" %}
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
      {% endif %}
    </h2>
    
    <!-- {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %} -->

    {% if post.collection == 'teaching' %}
    <p>{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
    {% elsif post.collection == 'publications' %}
      {% if post.venue == 'SPIE Photonics West 2025 : Optical Coherence Tomography and Coherence Domain Optical Methods in Biomedicine' %}
      <p>1. (Conference) <b>Kyoungmo Koo</b>, Lucia Lee, Morgan McCloud, and Mark Draelos. "{{post.title}}". Accepted to <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}, as Oral Presentation. <a href="http://kyoungmokoo.github.io/files/Paper_4.pdf" target="_blank">Abstract</a> 
        <a href="https://spie.org/photonics-west/presentation/Reducing-cost-but-not-quality-with-digital-scanner-interfaces-for/13305-77#_=_" target="_blank">SPIE OCT</a> </p>
      {% elsif post.venue == 'IEEE Transactions on Transportation Electrification' %}
      <p>2. (Journal) <b>Kyoungmo Koo*</b>, Chaemin Im*, Geonyoung Kim, Jaemin Kim, Seungyong Hahn, and Sangjin Lee. "{{post.title}}". Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}. <a href="http://kyoungmokoo.github.io/files/Paper_3.pdf" target="_blank">Paper</a> 
        <a href="https://ieeexplore.ieee.org/document/10531034" target="_blank">IEEE TTE</a> </p>
      {% elsif post.venue == 'Arxiv' %}
      <p>3. (Manuscript) <b>Kyoungmo Koo</b>, Wonseok Jang, Jeonghwan Park, Jaemyung Cha, and Seungyong Hahn. "{{post.title}}". In <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}. <a href="http://kyoungmokoo.github.io/files/Paper_2.pdf" target="_blank">Manuscript</a> 
        <a href="https://arxiv.org/abs/2306.12946" target="_blank">ArXiv</a> </p>
      {% else %}
      <p>4. (Thesis Competition) Wonseok Jang, <b>Kyoungmo Koo</b>, and Jaeseok Bang, Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}.</p> <a href="http://kyoungmokoo.github.io/files/Paper_2.pdf" target="_blank">Thesis</a> 
    {% endif %}
    {% elsif post.date %}
    <!--<p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p> -->
    {% endif %}
    
    {% if post.collection != "publications" %}
    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif}
    {% endif %}
    {% endif %}

    {% if post.title == 'RAUS : Robot Applied Ultrasound System' %}
    <div style="text-align: center;">
      <figure style="display: inline-block; width: 320px; margin: 10px; vertical-align: top;">
        <img src="../images/RAUS_image1.png" alt="3D reconstruction of multiple B-scans generated by Linear Scan of robot arm" style="width: 300px;">
        <figcaption style="text-align: center; padding: 5px;">Figure 1: 3D reconstruction of multiple B-scans generated by Linear Scan of robot arm</figcaption>
      </figure>
      <figure style="display: inline-block; width: 320px; margin: 10px; vertical-align: top;">
        <img src="../images/RAUS_image2.png" alt="3D reconstruction of multiple B-scans generated by Arc Scan of robot arm" style="width: 300px;">
        <figcaption style="text-align: center; padding: 5px;">Figure 2: 3D reconstruction of multiple B-scans generated by Arc Scan of robot arm</figcaption>
      </figure>
    </div>
    {% endif %}

    {% if post.title == 'Developing a digital interface to a ScannerMAX galvanometer controller for optical coherence tomography (OCT)' %}
    <div style="text-align: center;">
      <figure style="display: inline-block; width: 320px; margin: 10px; vertical-align: top;">
        <img src="../images/resolution_figure.png" alt="Resolution figure amp 0.25" style="width: 300px;">
        <figcaption style="text-align: center; padding: 5px;">Figure 1 : Comparison of analog (orange) and digital (blue) interfaces scanning groups 4 and 5 of a USAF target when amplitude of scan is 0.25 &deg.</figcaption>
      </figure>
      <figure style="display: inline-block; width: 320px; margin: 10px; vertical-align: top;">
        <img src="../images/resolution_figure2.png" alt="Resolution figure amp 1" style="width: 300px;">
        <figcaption style="text-align: center; padding: 5px;">Figure 2: Comparison of analog (orange) and digital (blue) interfaces scanning groups 4 and 5 of a USAF target when amplitude of scan is 1.0 &deg</figcaption>
      </figure>
    </div>    
    {% endif %}

    {% if post.title == 'Analysis and Experimental Study of LN2 Cooled No-insulation High-Temperature Superconductor Applied Preliminary Magnetohydrodynamic Ship' %}
    <div style="text-align: center;">
      <figure style="display: inline-block; width: 320px; margin: 10px; vertical-align: top;">
        <img src="../images/Exp_result.png" alt="NI HTS Exp Result" style="width: 300px;">
        <figcaption style="text-align: center; padding: 5px;">Figure 1: Experimental result of High-Temperature Superconductor (HTS) applied magnetohydrodynamic (MHD) ship at t = 0 s, t = 10 s, and t = 20 s.</figcaption>
      </figure>
      <figure style="display: inline-block; width: 320px; margin: 10px; vertical-align: top;">
        <img src="../images/magnetic field.png" alt="MHD ship magnetic field" style="width: 300px;">
        <figcaption style="text-align: center; padding: 5px;">Figure 2: Magnetic field distribution around a unit thruster of scale-up MHD ship based on our experimental result.</figcaption>
      </figure>
    </div>    
    {% endif %}

    {% if post.title == 'Conceptual Design and Analysis of No-Insulation High- Temperature Superconductor Tubular Wave Energy Converter' %}
    <div style="text-align: center;">
      <figure style="display: inline-block; width: 320px; margin: 10px; vertical-align: top;">
        <img src="../images/WEC_system.png" alt="WEC system" style="width: 300px;">
        <figcaption style="text-align: center; padding: 5px;">Conceptual Design of High-Temperature Superconductor (HTS) applied Wave Energy Converter (WEC) system.</figcaption>
      </figure>
      <figure style="display: inline-block; width: 320px; margin: 10px; vertical-align: top;">
        <img src="../images/generator_flux.PNG" alt="Generator flux" style="width: 300px;">
        <figcaption style="text-align: center; padding: 5px;"></figcaption>Distribution of magnetic field in the generator.</figcaption>
      </figure>
    </div>    
    {% endif %}
    <!-- {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}">{{ post.paperurl }}</a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl %}
    {% endif %} -->

  </article>
</div>
